[Desktop Entry]
Version=1.0
Name=Echo Cancel PulseAudio Module
Comment=Load the PulseAudio module-echo-cancel
Exec=echo_webrtc
Icon=audio-headphones
Type=Application
Categories=AudioVideo;Audio;
