[Desktop Entry]
Version=1.0
Name=Default (EC)
Comment=Load the PulseAudio module-echo-cancel
Exec=echo_default
Icon=multimedia-volume-control
Type=Application
Categories=AudioVideo;Audio;
